<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Import jQuery before materialize.js-->
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.min.js"
        ></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Leaflet CSS (web mapping library) -->
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""
    />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>


    {% load static %}

    <style>

        .modal { 
            width: 90% !important;
            border-radius: 25px;
        }  /* increase the height and width as you desire */

        #route_1_map {
            height: 400px;
        }
    </style>

</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-1">
            <a href="#" class="brand-logo" style="padding-left: 1%;" >COVIT Bogotá</a>
        </div>
    </nav>

    <div class="section white">
        <div class= "row container">
            <div class="container">
                <h4 class="center-align header">Rutas durante la cuaretena</h4>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-image">
                                <img src="{% static 'images/Mapa.jpg' %}">
                                <span class="card-title black-text"><b>Ruta 1: Usaquén - Centro</b></span>
                            </div>
                            <div class="card-content">
                                <p>Ruta circular entre A y B, con una frecuencia diaria de 1 hora y una
                                    capacidad de 20 pasajeros por bus. Opera de 6:00 am a 7:00 pm. 
                                </p>
                            </div>
                            <div class="card-action">
                                <button data-target="modal1" class="btn modal-trigger blue darken-1" onclick="ruta_sel(1)" >Programar Ruta</button>
                            </div>
                        </div>
                              <!-- Modal Structure route 1 -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col s8 m8 l8">
                                        <h5>Ruta 1: Usaquén - Centro
                                            <i class="tiny material-icons tooltipped" data-position="bottom" data-html="true"
                                             data-tooltip="Diligencia estos datos cuando estés seguro de realizar tu viaje. 
                                             <br> Recuerda que este servicio está disponible <b>UNICAMENTE</b> <br> 
                                             para las personas que cumplen las excepciones del Decreto Distrital.">help</i>
                                        </h5>
                                        <form id="route1_form" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="file-field input-field">
                                                    <div class="input-field col l3">
                                                        <select id="gender">
                                                          <option value="" disabled selected>Escoja una opción</option>
                                                          <option value="Femenino">F</option>
                                                          <option value="Masculino">M</option>
                                                          <option value="Otro">No binario</option>
                                                        </select>
                                                        <label>Género:</label>
                                                    </div>
                                                </div>
                                                <div class="input-field col l3">
                                                    <input placeholder="18-70" id="age" type="number" class="validate" min="18" max="70">
                                                    <label for="age">Edad</label>
                                                </div>
                                                <div class="col l3">
                                                    <p>
                                                        <label>
                                                          <input type="checkbox" id="conditions" value="true"/>
                                                          <span>Condiciones prexistentes</span>
                                                          <i class="tiny material-icons tooltipped" data-position="right" data-html="true"
                                                          data-tooltip="Diabetes<br> 
                                                                        Enfermedades cardiovaculares<br>
                                                                        Enfermedades Pulmonares<br>
                                                                        Cancer<br>">help</i>
                                                        </label>
                                                    </p>
                                                </div>
                                                <div class="col l3">
                                                    <p>
                                                        <label>
                                                          <input type="checkbox" id="contact" value="true"/>
                                                          <span>Contacto con infectados</span>
                                                          <i class="tiny material-icons tooltipped" data-position="right" data-html="true"
                                                          data-tooltip="Ha tenido contacto con algúna<br> 
                                                                        persona POSITIVA en la prueba<br>
                                                                        del COVID-19?<br>">help</i>
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col l3">
                                                    <div class="file-field input-field">
                                                        <div class="input-field">
                                                            <select id="ocupation">
                                                              <option value="" disabled selected>Escoja una opción</option>
                                                              <option value="Salud">Salud</option>
                                                              <option value="Abastecimiento">Abastecimiento</option>
                                                              <option value="Atención de emergencias">Atención de emergencias</option>
                                                              <option value="Ciudado de personas">Cuidado de personas</option>
                                                              <option value="Seguridad">Seguridad</option>
                                                            </select>
                                                            <label>Área de Ocupación:</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col l3">
                                                    <div class="row">  
                                                        <div class="input-field">
                                                            <input placeholder="Salud, Vigilancia, Serv. Emergencia, Abastecimiento" id="destination_activities" type="text" class="validate" maxlength="50">
                                                            <label for="destination_activities">Actividades a desarrollar:</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-field col l3">
                                                    <input placeholder="Calle 1 A # 10 SUR" id="home_address" type="text" class="validate" maxlength="50">
                                                    <label for="home_address">Dirección de residencia:</label>
                                                </div>
                                                <div class="input-field col l3">
                                                    <input placeholder="Calle 1 A # 10 SUR" id="destination_address" type="text" class="validate" maxlength="50">
                                                    <label for="destination_address">Dirección de destino:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s3">
                                                    <select id="direction">
                                                    </select>
                                                    <label>Sentido</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <select id="initial-stop">
                                                    </select>
                                                    <label>Parada de origen:</label>
                                                </div>              
                                                <div class="input-field col s3">
                                                    <select id="end-stop">
                                                    </select>
                                                    <label>Parada de destino:</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <select id="services">
                                                    </select>
                                                    <label>Servicio:
                                                        <i class="tiny material-icons tooltipped" data-position="rigth" data-html="true"
                                                        data-tooltip="La hora de viaje corresponde a un estimado de la hora <br>
                                                        de paso del bus por la estación de origen que seleccionaste">help</i>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <div id="route_1_map" ></div>    
                                    </div>
                                </div>   
                            </div>

                            <div class="modal-footer">
                                <a class="modal-close waves-effect waves-green btn-flat" onclick="salvardatos()">Solicitar servicio</a>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/1.jpeg' %}"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <div class="container">
                <div class="col s6 m6 l6">
                    <h3 class="header">No te sirven estas rutas?</h3>
                    <p class="grey-text text-darken-3 lighten-3">Dejanos saber tus necesidades de viaje. Estaremos trabajando para ayudarte.</p>
                </div>
                <div class="col s6 m6 l6">
                    <div class="container">
                        <br><br><br>
                        <a class="center-align waves-effect waves-light btn-large blue darken-1"><i class="large material-icons right">directions_bus</i>Formulario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/m1.jpg' %}"></div>
    </div>
</body>

<script text="javascript">
    // Script documento

    $(document).ready(function(){
        $('.parallax').parallax();
        $('.tooltipped').tooltip();
        $('.modal').modal({
            onOpenStart() {
                console.log("Open Start");
            },
            onOpenEnd() {
                setTimeout(function() {
                    map.invalidateSize();
                }, 10);
                console.log("Open End");
            },
            onCloseStart(){
                console.log("Close Start");
            },
            onCloseEnd(){
                console.log("Close End");
            },
        });
        $('select').formSelect();

    });

    var ruta = 0

    function ruta_sel(id_ruta) {
        ruta = id_ruta

        var directions_path = "{% url 'Directions' 'route' %}"
        directions_path = directions_path.replace('route', ruta)

        $.ajax({
            async: true,
            url: directions_path,
            dataType: 'json',
            success: function(data) {
                var $el = $('#direction')
                $el.empty() // remove old options
                $el.append(
                    $('<option></option>')
                        .attr('value', '')
                        .text('Escoja el sentido')
                )
                data.forEach(function(element) {
                    $el.append(
                        $('<option></option>')
                            .attr('value', element[1])
                            .text(element[0])
                    )
                })
                $('#direction').formSelect();
            }
        });
    }

    $('#direction').on('change', function() {
        var direction = this.value
        var path = "{% url 'Stops_direction' 'route' 'dir_param' %}"
        path = path.replace('route', ruta)
        path = path.replace('dir_param', direction)
        $.ajax({
            async: true,
            url: path,
            dataType: 'json',
            success: function(data) {
                var $el = $('#initial-stop')
                $el.empty() // remove old options
                $el.append(
                    $('<option></option>')
                        .attr('value', '')
                        .text('Escoja una parada de bus')
                )
                data.forEach(function(element) {
                    $el.append(
                        $('<option></option>')
                            .attr('value', element[1])
                            .text(element[0])
                    )
                })
                $('#initial-stop').formSelect();
            }
        });
    });

    $('#initial-stop').on('change', function() {
        var initial_stop = this.value
        var direction = $('#direction').val()
        var path = "{% url 'Stops_ahead' 'route' 'init_stop' 'dir_param'%}"
        var path_services = "{% url 'Services' 'route' 'init_stop' 'dir_param'%}"
        path = path.replace('route', ruta)
        path = path.replace('init_stop', initial_stop)
        path = path.replace('dir_param', direction)
        path_services = path_services.replace('route', ruta)
        path_services = path_services.replace('init_stop', initial_stop)
        path_services = path_services.replace('dir_param', direction)
        $.ajax({
            async: true,
            url: path,
            dataType: 'json',
            success: function(data) {
                var $el = $('#end-stop')
                $el.empty() // remove old options
                $el.append(
                    $('<option></option>')
                        .attr('value', '')
                        .text('Escoja una parada de bus')
                )
                data.forEach(function(element) {
                    $el.append(
                        $('<option></option>')
                            .attr('value', element[1])
                            .text(element[0])
                    )
                })
                $('#end-stop').formSelect();
            }
        });
        $.ajax({
            async: true,
            url: path_services,
            dataType: 'json',
            success: function(data) {
                var $el = $('#services')
                $el.empty() // remove old options
                $el.append(
                    $('<option></option>')
                        .attr('value', '')
                        .text('Escoje el horario de partida')
                )
                data.forEach(function(element) {
                    $el.append(
                        $('<option></option>')
                            .attr('value', element[1])
                            .text(element[0])
                    )
                })
                $('#services').formSelect();
            }
        });
    });

    function salvardatos() {
        var data = new FormData($('#route1_form').get(0))

        $.ajax({
            url: "{% url 'Save_person_route' %}",
            type: 'POST',
            data: {
                gender: $('#gender').val(),
                age: $('#age').val(),
                preconditions: $('#condition').val(),
                contact_infected: $('#contact').val(),
                ocupation: $('#ocupation').val(),
                destination_activites: $('#destination_activities').val(),
                home_address: $('#home_address').val(),
                destination_address: $('#destination_address').val(),
            },
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            dataType: 'json',
            success: function(data) {
                console.log(JSON.parse(data['data']))
            },
            error: function(data) {
                console.error();
            }
        })       
    }


    // $('#modal1').modal(onOpenend:function(){
        // setTimeout(function() {
        //     map.invalidateSize();
        // }, 10);
    // });

    // $('#route1_form').submit(function() {

    //     // get all the inputs into an array.
    //     var $inputs = $('#route1_form :input');

    //     // not sure if you wanted this, but I thought I'd add it.
    //     // get an associative array of just the values.
    //     var values = {};
    //     $inputs.each(function() {
    //         values[this.name] = $(this).val();
    // });

    // console.log(values)

// });

</script>

<script>

    // Script Mapa

    var map = L.map('route_1_map').setView([4.7, -74.07], 9)

    L.tileLayer(
        'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
        {
            maxZoom: 18,
            attribution:
                '<a href="https://www.openstreetmap.org/">OSM</a>-' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC</a>-' +
                '<a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox.light'
        }
    ).addTo(map)

</script>
</html>